h1{
    color: rgb(243, 169, 203);
    font-family:inherit;
}
span{
    color:rgb(240, 186, 195);
    font-style: italic;
    
}
body{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: #575252;;
    background-color:rgb(193, 214, 233) ;
 }
 li {
     font-size: 16px;
     font-style:italic;
     
 }
 a{ color: rgb(0, 0, 0);
    text-decoration:none ;   
 }
 a:hover{
     text-decoration: underline;
     font-weight: bold;
     font-size: 15px;
 }

 a:visited{
color: rgb(34, 34, 43);
 }
 

 .underline{
  text-decoration:none ;  
  font-weight: bold; 
  font-size: 25px;
 }
 .center {
    display:block;
    margin-left: auto;
    margin-right: auto;
  }